@font-face {
    font-family: 'whitneybold';
    src: url('../fonts/whitneybold.woff2') format('woff2'),
         url('../fonts/whitneybold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'whitneylight';
    src: url('../fonts/whitneylight.woff2') format('woff2'),
         url('../fonts/whitneylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'whitneymedium';
    src: url('../fonts/whitneymedium.woff2') format('woff2'),
         url('../fonts/whitneymedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "whitneybold","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

.button-color {
    background-color: #202020;
    border: #333333 solid 1px;
    border-radius: 5px;
    color: #ccc;
}

.button-color:hover,
.button-color:focus {
    background-color: #303030;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 19%;
    height: 100vh;
    border-right: #272727 solid 1px;
    /* flex-grow: 1; */
    overflow: auto;
}

header > h1 {
    color: #ccc;
}

header > p {
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

header > .servers-roles {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.servers-roles > button {
    padding: 10px;
    margin: 10px 5px;
    /* width: 80%; */
}

.servers-roles > .button-role-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 80%;
}

.button-role-group > .button-role {
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.button-role-group > .button-remove {
    background-color: #fc0707;
    border: #d83e3e solid 1px;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.button-remove:hover {
    background-color: #ec2d2d;
}

main > #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
    /* flex-grow: 9; */
}

#content > h1 {
    color: #ccc;
    text-align: center;
    width: 100%;
}

#content > .discord-profile {
    /* display: flex; */
    margin: auto;
    width: 300px;
    min-height: 300px;
    background-color: #18191d;
    border-radius: 3px;
}

.discord-profile > .profile-banner {
    display: flex;
    justify-content: space-between;
    /* background-color: #011329; */
    background-color: #34414e;
    height: 60px;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.profile-banner > .edit-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 10px 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    z-index: 1;
}

.profile-banner > .profile-avatar {
    position: relative;
    top: 15px;
    margin-left: 15px;
    height: 85px;
    width: 85px;
    border: #18191d solid 6px;
    background-color: #ec4243;
    border-radius: 50%;
    z-index: 1;
}

.banner-image {
    height: 120px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .profile-banner > .img-banner {
    position: absolute;
    width: 300px;
    height: 120px;
    background-size: cover;
} */

.discord-profile > .avatar-status {
    position: relative;
    top: 20px;
    margin-left: 80px;
    width: 16px;
    height: 16px; 
    border: #18191d solid 6px;
    border-radius: 50%;
    z-index: 1;
}

.discord-profile > .avatar-status-online-color {
    background-color: #3ba55d;
}

.discord-profile > .avatar-status-away-color {
    background-color: #faa91c;
}

.discord-profile > .avatar-status-busy-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb4044;
}

.discord-profile > .avatar-status-invisible-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #747f8d;
}

.avatar-status > .status-cut-busy {
    width: 12px;
    height: 4px;
    background-color: #18191d;
    border-radius: 3px;
}

.avatar-status > .status-cut-away {
    position: relative;
    top: -1px;
    left: -2px;
    width: 12px;
    height: 12px;
    background-color: #18191d;
    border-radius: 50%;
}

.avatar-status > .status-cut-invisible {
    width: 8px;
    height: 8px;
    background-color: #18191d;
    border-radius: 50%;
}

.discord-profile > .profile-boost {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    margin-right: 15px;
}

.profile-boost > img {
    width: 22px;
}

.discord-profile > .profile-name {
    font-size: 22px;
    white-space: normal;
    line-height: 24px;
    margin: 25px 0 0 15px;
}

.profile-name > span {
    color: #aaa;
}

.discord-profile > .profile-role-text {
    font-size: 13px;
    color: #aaa;
    margin: 18px 0 0 15px;
}

.discord-profile > .profile-roles {
    margin: 10px auto 10px 15px;
    width: 275px;
    box-sizing: content-box;
}

.profile-roles > .role-box {
    display: inline-flex;
    flex-direction: row;
    background-color: #2B2C30;
    font-size: 12px;
    padding: 5px 8px;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 4px;
    max-height: 22px;
    box-sizing: border-box;
}

.role-box > .role-icon {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    border-radius: 50%;
}

.role-box > .role-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "whitneymedium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.role-text > img {
    margin-right: 3px;
}

.discord-profile > .profile-note {
    font-size: 13px;
    color: #aaa;
    margin: 15px 0 0 15px;
}

.discord-profile > .note-box {
    margin: 10px auto 20px auto;
    width: 280px;
    box-sizing: content-box;
    background-color: #212226;
    border-radius: 3px;
}

.note-box > .note-text {
    font-family: "whitneylight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #aaa;
    padding: 5px 0 20px 5px;
}

.color-1 {
    background-color: red;
}

#popup-add-server {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999;
}

#popup-add-server > .add-server-box {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #202020;
    border: #333333 solid 1px;
    padding: 10px;
    min-width: 600px;
    overflow-x: hidden;
}

.add-server-box > .button-custom-bottom {
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 20px;
    /* margin-bottom: 20px; */
}

.button-custom-bottom > .button-close {
    padding: 10px 20px;
    background-color: #f77979;
    border: #f7aaaa solid 1px;
    color: #ffffff;
    border-radius: 5px;
}

.button-close:hover,
.button-close:focus {
    background-color: #f86c6c;
}

.button-custom-bottom > .button-add-role {
    padding: 10px 20px;
    background-color: #1350f8;
    border: #033d74 solid 1px;
    color: #ffffff;
    border-radius: 5px;
}

.button-add-role:hover {
    background-color: #0f2bc9;
}

.add-server-box > .add-server-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;   
}

.add-server-form > .form-input-servername {
    width: 96%;
    margin: 5px 0;
    padding: 5px 20px;
    box-sizing: border-box;
}

.add-server-form > .group-add-roles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 96%;
    background-color: #2B2C30;
    border: #303030 solid 1px;
    border-radius: 5px;
    margin: 5px 0;

}

.group-add-roles > .add-server-roles {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.add-server-roles > .form-input {
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 5px 20px;
}

.add-server-roles > .form-input:first-child {
    margin-right: 10px;
    margin-left: 10px;
}

.add-server-roles > .form-input:last-child {
    margin-right: 10px;
}

.group-add-roles > .server-role-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.server-role-icon > .form-input {
    width: 100%;
    margin: 5px 10px;
    padding: 5px 20px;
}

.server-role-icon > .button-remove-icons {
    display: flex;
    align-items: center;
    font-size: 20pt;
    margin: 5px 10px 5px 5px;
    padding: 5px 20px;
    line-height: 0;
}

.button-remove-color {
    background-color: #fc0707;
    border: #d83e3e solid 1px;
    color: #ffffff;
    border-radius: 5px;
}

.button-remove-color:hover {
    background-color: #ec2d2d;
}

.button-custom-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.button-custom-bottom > .button-confirm-add-role {
    padding: 10px 20px;
    background-color: #055e11;
    border: #1d9e32 solid 1px;
    color: #ffffff;
    border-radius: 5px;
}

.button-confirm-add-role:hover,
.button-confirm-add-role:focus {
    background-color: #1d9e32;
}

main > #set-user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 19%;
    height: 100vh;
    border-left: #272727 solid 1px;
    /* flex-grow: 1; */
    overflow: auto;
}

/* #set-user-profile > .text-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin: 10px 10px;
} */

#set-user-profile > .set-user-name-hash {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    border-bottom: #272727 solid 1px;
}

h3 {
    margin-bottom: 10px;
}

.set-user-name-hash > .text-input {
    padding: 5px 10px;
    margin: 0 20px 10px 20px;
}

.set-user-name-hash > #btn-name-hash {
    padding: 10px 10px;
}

#set-user-profile > .set-user-avatar-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-bottom: #272727 solid 1px;
}

.set-user-avatar-banner > input[type="file"] {
    display: none;
    /* width: 130px; */
}

.label-input {
    padding: 10px 10px;
    margin: 0 20px 10px 20px;
}

.separator {
    width: 100%;
    border-bottom: #272727 solid 1px;
}

#set-user-profile > .set-user-status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-bottom: #272727 solid 1px;
} 

.set-user-status > .status-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.status-row > .status-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.status-row > .status-online {
    background-color: #01b101;
}

.status-row > .status-busy {
    background-color: #ce0000;
}

.status-row > .status-away {
    background-color: #e6b000;
}

.status-row > .status-invisible {
    background-color: #b3b3b3;
}